<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Playee Name</label>
      <br/>
      <input class="from-control" (input)="OnChangeName($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        <!--Title Case Pipe-->
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <br/>
      <input type="date" (input)="OnChangeDate($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        <!--Title Case Pipe-->
        {{ date | date:"MMMM d, y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <br/>
      <input class="from-control" (input)="OnChangeAmount($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>
        <!--Title Case Pipe-->
        {{ amount | currency: 'JPY' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <br/>
      <input class="from-control" (input)="OnChangeHeight($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Height</b></label>
      <div>
        <!--Title Case Pipe-->
        {{ height | number: '1.1-3'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <br/>
      <input class="from-control" (input)="OnChangeMiles($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div>
        <!--Title Case Pipe-->
        <div *ngIf="miles > 10">
          {{ miles | convert: 'km' }}
      </div>
    </div>
  </div>


</div>

{{ car | json }}